.App {
  background-color: #ed8e8e;
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Kitty-id {
  margin: 20px;
}

.Kitty-id-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Question {
  height:100px;
}
