body {
  background-color: #ed8e8e;
}

.App {
  text-align: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  color: white;
  min-height: 90vh;
}

.Kitty-id {
  margin: 20px;
}

.Kitty-info {
  font-family: 'Anonymous Pro', monospace;
}

.Kitty-get {
  font-family: 'Anonymous Pro', monospace;
}

.Kitty-id-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Question {
  height:100px;
}

.Kitty-img {
  height:100%;
  width:100%;
}

.Kitty-basic {
  margin-top:10px;
  border:5px solid red;
  background-color:#bee8e7;
  width:300px;
  border-radius:40px;
}

.Kitty-info-more {
  padding:20px;
  margin:10px;
  background-color: white;
}

.Kitty-container {
}

.Kitty-label {
  font-weight: bold;
}

.Kitty-text {
  text-align: left;
}

.Kitty-row {
  margin:10px;
}

.Kitty-details {
  background-color: white;
  margin:20px;
  padding:20px;
}

.Kitty-trait-label {
  font-weight: bold;
  font-size: 1.2em;
}

.Trait-img {
  height: 100px;
}

.Trait-percent {
  font-weight: bold;
  color: red;
}

.Kitty-grade {
  text-align: left;
  font-weight: bold;
  color: #5b965b;
  font-size:1.4em;
}

.footer {
  width: 10%;
  margin: auto;
}

.footer a {
  color: black;
}
